* {
    margin: 0;
    padding: 0;
}

body {
    padding: 20px 10px;
    font-family: 'Myriad Pro Light';
}

body .price,
body>nav>h2 {
    font-family: 'Myriad Pro Bold';
}


body>section>aside {
    width: 100%;
    height: 80px;
    margin: 10px 0;
    overflow: hidden;
    display: flex;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.15);
}

body>section>aside .img_block {
    position: absolute;
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

body>section>aside .text-ad {
    padding: 0 4px 0 85px;
    height: 100%;
    width: 100%;
}

body>section>aside .img_block img {
    height: 80px;
}

body>section>aside .time-and-number {
    position: relative;
    display: flex;
    justify-content: space-between;
    top: 14px;
}

body>section>aside .time-and-number .time,
body>section>aside .time-and-number .number {
    color: gray;
}


@font-face {
    font-family: 'Myriad Pro Light';
    src: url('fonts/MyriadPro-Light/MyriadPro-Light.eot');
    src: url('fonts/MyriadPro-Light/MyriadPro-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/MyriadPro-Light/MyriadPro-Light.woff') format('woff'),
    url('fonts/MyriadPro-Light/MyriadPro-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Myriad Pro Bold';
    src: url('fonts/MyriadPro-Bold/MyriadPro-Bold.eot');
    src: url('fonts/MyriadPro-Bold/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/MyriadPro-Bold/MyriadPro-Bold.woff') format('woff'),
    url('fonts/MyriadPro-Bold/MyriadPro-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}